@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Roboto&display=swap');

/* ========================================================================
 Breakpoints
======================================================================== */
:root {
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1264px;
  --breakpoint-xl: 1904px;
}
:root {
  --border-radius: 3px;
}

/* ========================================================================
 Colors
======================================================================== */
:root {
  --color-green: #3bab6f;
  --color-white: #fff;
  --color-dark: #29323c;
  --color-text: #34383e;
}
.color-green {
  color: var(--color-green);
}
.color-white {
  color: var(--color-white);
}
.color-dark {
  color: var(--color-dark);
}

/* ========================================================================
 Typography
======================================================================== */

:root {
  --h1-size: 42px;
  --h2-size: 24px;
  --h3-size: 20px;
  --h4-size: 16px;
  /* --h5-size: 20px;
  --h6-size: 16px; */
}
@media (min-width: 960px) {
  :root {
    --h1-size: 56px;
    --h2-size: 28px;
    --h3-size: 22px;
    --h4-size: 16px;
    /* --h5-size: 17px;
    --h6-size: 16px; */
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amiko', sans-serif;
}
h1 {
  font-size: var(--h1-size);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: var(--h2-size);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: var(--h3-size);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: var(--h4-size);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
h5 {
  font-size: var(--h5-size);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h6 {
  font-size: var(--h6-size);
  margin-top: 0;
  margin-bottom: 0.5rem;
}
